<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API接口文档</title>
</head>
<body>
<h3>用户API</h3><br>
<a href="/api/user_login"><span>用户登录API</span></a><br>
<a href="/api/user_logout"><span>用户退出API</span></a><br>
<a href="/api/user_information"><span>获取用户信息API</span></a><br>
<a href="/api/user_updateinformation"><span>修改用户信息API</span></a><br>

<h3>公司API</h3><br>
<a href="/api/get_company"><span>获取公司API</span></a><br>

<h3>事故API</h3><br>
<a href="/api/accident_type"><span>事故类型API</span></a><br>
<a href="/api/accident_rank"><span>事故级别API</span></a><br>
<a href="/api/accidents_list"><span>事故列表API</span></a><br>
<a href="/api/accident_detail"><span>事故详情API</span></a><br>
<a href="/api/accident_add"><span>新增事故API</span></a><br>

<h3>事件API</h3><br>
<a href="/api/event_type"><span>事件类型API</span></a><br>
<a href="/api/events_list"><span>事件列表API</span></a><br>
<a href="/api/event_detail"><span>事件详情API</span></a><br>
<a href="/api/event_add"><span>新增事件API</span></a><br>

<h3>数据分析API</h3><br>
<a href="/api/accident_analysis"><span>事故分析API</span></a><br>
<a href="/api/event_analysis"><span>事件分析API</span></a><br>
</body>
</html>